.elements__like {
  width: 22px;
  height: 19px;
  padding: 0;
  margin-right: 5px;
  align-self: center;
  background-image: url(../../../images/elements__like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: opacity .5s ease-in;
}

.elements__like:hover {
  opacity: 50%;
}
